$myblue: rgb(20, 100, 219);

$custom-colors: (
	"purple": $purple,
	"darkenPurple": $purple-darken,
	"lightenPurple": $purple-lighten,
	"accent": $accent-color,
	"bodyButton": $body-color-lighten-20,
	"secondary": $secondary-body-color,
	"myblue": $myblue,
	"purpleblue": mix($purple, $myblue, 60%),
);

$theme-colors: map-merge($theme-colors, $custom-colors);
