// * variables
$body-color: #070707; // main color
$secondary-body-color: #121317; // secondary main color

$body-color-lighten-5: lighten($body-color, 5%);
$body-color-lighten-10: lighten($body-color, 10%);
$body-color-lighten-20: lighten($body-color, 20%); // lighten body colors
$body-color-lighten-30: lighten($body-color, 30%);
$body-color-lighten-40: lighten($body-color, 40%);
$accent-color: #191a1f; // accent color

$text-color: rgb(220, 220, 220); // text color
$text-color-darken: darken($text-color, 20%); // darken text color
$text-color-lighten: lighten($text-color, 20%); // lighten text color

$purple: #9f0be9;
$purple-darken: darken($purple, 5%);
$purple-lighten: lighten($purple, 7%);

$font-size-16: 16px;
$font-size-18: 18px;

$nav-height: 70px;

// * bootstrap variables
// focus ring
$focus-ring-color: $purple;
// nav
$nav-link-color: $text-color;
$nav-link-hover-color: lighten($nav-link-color, 20%);
$nav-underline-link-active-color: white;
// navbar
$navbar-brand-font-size: 1.5rem;
$navbar-brand-padding-y: 0;
// cards
$card-bg: $body-color;
$card-color: $text-color;
$card-subtitle-color: $text-color-darken;
$card-spacer-x: 0px;
$card-border-width: none;
// form controls
$input-bg: $body-color-lighten-5;
$input-focus-bg: $body-color-lighten-5;

$input-color: $text-color;
$input-focus-color: $text-color-lighten;

$input-placeholder-color: $text-color-lighten;
$input-border-color: $body-color-lighten-20;
$input-focus-border-color: $body-color-lighten-40;
$input-focus-box-shadow: none;

$input-disabled-color: darken($input-color, 10%);
$input-disabled-bg: darken($input-bg, 5%);
$input-disabled-border-color: darken($input-border-color, 5%);
// select
$form-select-bg: $body-color-lighten-5;
$form-select-color: $text-color;

$form-select-border-color: $body-color-lighten-20;
$form-select-focus-box-shadow: none;

$form-select-focus-border-color: $body-color-lighten-40;

$form-select-disabled-color: darken($text-color, 10%);
$form-select-disabled-bg: darken($body-color-lighten-5, 5%);
$form-select-disabled-border-color: darken($body-color-lighten-20, 5%);

