// * variables
$body-color: #121212; // main color
$accent-color: #191919; // minor color
$color-hover: #960edb; // color when hovering over an HTML element

$text-color: rgb(205, 205, 205); // text color
$text-color_dark: grey; // dark color when hovering over text
$text-color-bright: white; // bright color when hovering over text
$text-color-active: #960edb; // text color when text is active

$input-color: #202020; // input field color
$input-color-hover: #252525; // color of input field when hovering

$button-color: #960edb; // button field color
$button-color-hover: #8a12c6; // color of button when hovering
$button-color-active: #8612c1; // button color when button is active

$font-size: 16px;
$font-size-bigger: 21px;

// * bootstrap variables
// colors
$purple: #4b006e;
