{% extends 'auctions/layout.html' %}

{% block body %}

<main>
    <section>
        <a href="{% url 'listing' listing.id %}">Back to listing</a>
        <div>
            {% if listing.image %}
                <div>
                    <img style="width:200px" src="{{ listing.image }}" alt="Image of listing">
                </div>
            {% endif %}
            <div>
                {{ listing.title}}
            </div>
        </div>
        <div>
            <p>
                Current price: 
                <strong>
                    {% if bids.exists %}
                        ${{ bids.first.price }}
                    {% else %}
                        ${{ listing.start_bid }}
                    {% endif %}
                </strong>
            </p>
            <p>Bids: {{ bids.count }}</p>
            <p>Bidders: {{ bidders }}</p>
        </div>
    </section>
    <section>
        <table>
            <tr>
                <th>User</th>
                <th>Price</th>
                <th>Time</th>
            </tr>
            {% for bid in bids %}
                <tr>
                    <td>{{ bid.user.username }}</td>
                    <td>{{ bid.price }}</td>
                    <td>{{ bid.time }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Starting price</td>
                <td>{{ listing.start_bid }}</td>
                <td>{{ listing.time.creation_time }}</td>
            </tr>
        </table>
    </section>
</main>

{% endblock body %}