{% extends 'auctions/layout.html' %}

{% block body %}

<div class="mx-lg-5">
    <div class="text-center underlined p-1">
        <h4><a href="{% url 'listing' listing.id %}">Back to listing</a></h4>
    </div>
    <section class="row g-3">
        {% if listing.image %}
            <div class="col-sm-2">
                {% include "auctions/helpers/image_listing.html" %}
            </div>
        {% endif %}
        <div class="px-3 col d-flex align-items-center m-0">
            <div>
                <div>
                    {{ listing.title}}
                </div>
                <div>
                    Current price: 
                    <strong>
                        {% if bids.exists %}
                        ${{ bids.first.price }}
                        {% else %}
                        ${{ listing.start_bid }}
                        {% endif %}
                    </strong>
                </div>
                <div>Bids: {{ bids.count }}</div>
                <div>Bidders: {{ bidders }}</div>
            </div>
        </div>
    </section>
    
    <section>
        <table class="table table-borderless table-dark">
            <thead>
                <tr>
                    <th class="bg-accent">User</th>
                    <th class="bg-accent">Price</th>
                    <th class="bg-accent">Time</th>
                </tr>
            </thead>
            {% for bid in bids %}
                <tr>
                    <td class="bg-secondary">{{ bid.user.username }}</td>
                    <td class="bg-secondary">{{ bid.price }}$</td>
                    <td class="bg-secondary">{{ bid.time }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td class="bg-secondary">Starting price</td>
                <td class="bg-secondary">{{ listing.start_bid }}$</td>
                <td class="bg-secondary">{{ listing.time.creation_time }}</td>
            </tr>
        </table>
    </section>
</div>

{% endblock body %}