{% extends 'auctions/layout.html' %}

{% block body %}

<h2>Listings by category</h2>


<div>
    <form action="{% url 'category' %}" method="POST">
        {% csrf_token %}
        <label for="category_categories"><h3>Choose category</h3></label>
        <select name="category" id="category_categories">
            {% for category_value, category_text in categories %}
            <option value="{{ category_value }}">{{ category_text }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Search">
    </form>

    {% if selected_category %}
        {% if listings %}
            {% include "auctions/listing_section.html" %}
        {% else %}
            <h4>There are no listings in this category</h4>
        {% endif %}
    {% endif %}
</div>
{% endblock body %}