{% extends 'auctions/layout.html' %}

{% block body %}

<div class="mx-lg-5 mt-5">
    <div class="">
        <div class="">
            <form action="{% url 'listing_create' %}" method='POST'>
                {% include "auctions/listing_input.html" %}
                <div class="d-flex justify-content-center">
                    <input class="mt-5 btn btn-lg btn-purple" type="submit" value="Create Listing">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}