{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
    <section>
        {% if listing.image %}
        <div>
            <img src="{{ listing.image }}" alt="Picture of shovel" style="width:300px">
        </div>
        {% endif %}
        <div>
            {{ listing.title }} <br>
            <strong>
                {% if listing.bids == None %}
                US $<!-- TODO: display current price -->
                {% else %}
                US ${{ listing.start_bid }}
                {% endif %}
            </strong> 
            <br>
            {{ listing.bids.count }}
            {% if listing.bids.count == 0 or listing.bids.count == 1 %} 
                bid
            {% else %}
                bids
            {% endif %}
            <br>
            {{ listing.description }}
        </div>
    </section>
    {% endfor %}
{% endblock %}