{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="{% static 'auctions/scss/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav class="top-header shadow-lg">

            <h1>Auctions</h1>
            <div>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Active Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_listings' %}">My Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_watchlist' %}">Watchlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listing_create' %}">Create listing</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div>
                {% if user.is_authenticated %}
                    Signed in as <strong>{{ user.username }}</strong>.
                {% else %}
                    Not signed in.
                {% endif %}
            </div>

        </nav>

        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <main class="container-md">
            {% block body %}
            {% endblock %}
        </main>

    </body>
</html>
