{% for listing in listings %}
<section>
    {% if listing.image %}
    <div>
        <a href="{% url 'listing' listing.id %}">
            <img src="{{ listing.image }}" alt="Picture of shovel" style="width:300px">
        </a>
    </div>
    {% endif %}
    <div>
        <a href="{% url 'listing' listing.id %}">{{ listing.title }} </a><br>
        <div>
            <!-- Display price -->
            {% if listing.bids.exists %} 
                <div>
                    <h6>Current bid:</h6>
                    <h4><strong>US ${{ listing.bids.first.price }}</strong></h4>
                </div>
            {% else %}
                <div>
                    <h6>Starting bid:
                    <h4><strong>US ${{ listing.start_bid }} </strong></h4>
                </div>
            {% endif %}
        </div>
        {{ listing.bids.count }}
        {% if listing.bids.count == 1 %} 
            bid
        {% else %}
            bids
        {% endif %}
        <br>
        {{ listing.description }}
    </div>
</section>
<br>
{% endfor %}