{% extends 'auctions/layout.html' %}

{% block body %}
{% if message %}
    <p>{{ message }}</p>
{% endif %}
<section>
    <div>
        <img src="{{ listing.image }}" alt="Picture of shovel" style="width:300px">
    </div>
    <div>
        {{ listing.title }}
        <br>
        <strong>
            {% if listing.bids == None %}
            US $<!-- TODO: display current price -->
            {% else %}
            US ${{ listing.start_bid }}
            {% endif %}
        </strong> 
        <br>
        {{ listing.bids.count }}
        {% if listing.bids.count == 0 or listing.bids.count == 1 %} 
            bid
        {% else %}
            bids
        {% endif %}
        <br>
        {{ listing.description }}
        </div>
        <div>
            {% if listing.active_status %}
            <p>Active</p>
            {% else %}
            <p>Inactive</p>
            {% endif %}

            {% if not is_watching %}
            <form action="{% url 'watchlist' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Add to watchlist">
            </form>
            {% else %}
            <form action="{% url 'delete_watchlist' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Unwatch">
            </form>
            {% endif %}
        </div>
    </div>
</section>
<section>
    <h2>Comments</h2>
    <div>
        <form action="{% url 'comment' listing.id %}" method="POST">
            {% csrf_token %}
            <input name="message" type="text" placeholder="Add comment...">
            <input type="submit" value="Comment">
        </form>
    </div>
    {% for comment in comments %}
    <div>
        <h5><strong>{{ comment.commentator }}</strong>
            {{ comment.time }}
            {% if is_modified %} (edited) {% endif %}
        </h5>
        <p>{{ comment.message }}</p>
    </div>
    {% endfor %}
</section>
{% endblock body %}