{% csrf_token %}
<!-- search for wide display -->
<div>
    <div class="row mb-3">
        <div class="col-lg-4 mb-1">
            <select name="category" class="form-select" id="search_categories">
                <option value="all" selected>All Categories</option>
                {% for category_value, category_text in categories %}
                    {% if category_value == selected_category and selected_category %} <!-- Set the option to be selected if it is searched category -->
                        <option value="{{ category_value }}" selected>{{ category_text }}</option>
                    {% else %}
                        <option value="{{ category_value }}">{{ category_text }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-8">
            <div class="input-group">
                <input name="search" class="form-control" type="search" placeholder="Search for anything" value="{{ search }}" autocomplete="off">
                <button class="input-group-append btn btn-bodyButton" type="submit">Search</button>
            </div>
        </div>
    </div>
</div>
