// import the necessary Bootstrap files
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
// import Bootstrap custom maps and vars
@import "./abstracts/variables";
@import "./abstracts/map-amends";
// import Bootstrap
@import "../../../../node_modules/bootstrap/scss/bootstrap";

body {
	background-color: $body-color;
	color: $text-color;
}

main {
	margin-top: 15px;
}

a {
	color: $text-color;
	text-decoration: none;
}

img {
	width: 50%;
}

span {
	color: $text-color-dark;
}

input,
select {
	height: 35px;
	color: $text-color;
	background-color: $body-color-lighten;
	border: none;
	padding: 5px;
	border-radius: 3px;
}

input[type="search"] {
	padding-right: 50px;
}

*:focus {
	outline: 1px solid white;
}

.top-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.listing-padding {
	box-sizing: border-box;
	padding: 20px 50px;
}

.card-img-top {
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

.card-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@media (min-width: 992px) {
	body {
		font-size: $font-size-18;
	}

	#computer-authenticated {
		display: block;
	}

	#mobile-authenticated {
		display: none;
	}
}
@media (max-width: 992px) {
	body {
		font-size: $font-size-16;
	}

	#computer-authenticated {
		display: none;
	}

	#mobile-authenticated {
		display: block;
	}
}
