// import the necessary Bootstrap files
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
// import Bootstrap custom maps and vars
@import "./abstracts/variables";
@import "./abstracts/map-amends";
// import Bootstrap
@import "../../../../node_modules/bootstrap/scss/bootstrap";

body {
	background-color: $body-color;
	color: $text-color;
}

a {
	color: $text-color;
	text-decoration: none;
}

span {
	color: $text-color-darken;
}

.top-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.listing-padding {
	box-sizing: border-box;
	padding: 20px 50px;
}

.card-img-top {
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

.card-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.nowrap {
	white-space: nowrap;
}

.no-resize {
	resize: none;
}

.ratio-one {
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

.underlined {
	text-decoration: underline;
}

#card-listing-closed-message {
	color: red;
}

// width more than 991px
@include media-breakpoint-up(lg) {
	body {
		font-size: $font-size-18;
	}

	#computer-authenticated {
		display: block;
	}

	#mobile-authenticated {
		display: none;
	}
}

// width is equal to or less than 991px
@include media-breakpoint-down(lg) {
	body {
		font-size: $font-size-16;
	}

	#computer-authenticated {
		display: none;
	}

	#mobile-authenticated {
		display: block;
	}
}
